alabaster==0.7.12
alembic==1.0.10
aniso8601==7.0.0
arrow==0.14.5
asn1crypto==0.24.0
attrs==19.1.0
autogui==0.1.8
Automat==0.7.0
Babel==2.7.0
beautifulsoup4==4.8.0
binaryornot==0.4.4
blessings==1.7
blinker==1.4
bpython==0.18
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cookiecutter==1.6.0
cookiejar==0.0.2
cryptography==2.7
cssselect==1.1.0
curtsies==0.3.0
cycler==0.10.0
Django==2.2.4
docutils==0.15.2
dominate==2.4.0
dukpy==0.2.2
easygui==0.98.1
enum34==1.1.6
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.17.1
get==2019.4.13
greenlet==0.4.15
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
incremental==17.5.0
itchat==1.3.10
itsdangerous==1.1.0
javascripthon==0.10
Jinja2==2.10.1
jinja2-time==0.2.0
jupyter-echarts-pypkg==0.1.5
kiwisolver==1.1.0
ladon==1.0.4
lml==0.0.9
lxml==4.3.3
macropy3==1.1.0b2
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.0
opencv-python==4.1.0.25
packaging==19.1
pager==3.3
pandas==0.25.0
parsel==1.5.2
Pillow==6.1.0
pipenv==2018.11.26
post==2019.4.13
poyo==0.5.0
prettytable==0.7.2
protobuf==3.9.1
public==2019.4.13
pyaml==19.4.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyDispatcher==2.0.5
pyecharts==1.3.1
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
Pygments==2.4.2
PyHamcrest==1.9.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.2
pypng==0.0.20
PyQRCode==1.2.1
pytesseract==0.2.7
python-dateutil==2.8.0
python-editor==1.0.4
python-memcached==1.59
pythonnet==2.4.0
pytz==2019.2
pywin32==224
PyYAML==5.1.2
query-string==2019.4.13
queuelib==1.5.0
redis==3.3.7
request==2019.4.13
requests==2.22.0
selenium==3.141.0
service-identity==18.1.0
simplejson==3.16.0
six==1.12.0
snowballstemmer==1.9.0
soupsieve==1.9.2
Sphinx==1.8.1
sphinx-bootstrap-theme==0.7.1
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.6
sqlparse==0.3.0
tablestore==5.1.0
tesseract==0.1.3
typing==3.7.4
urllib3==1.25.3
virtualenv==16.7.2
virtualenv-clone==0.5.3
visitor==0.1.3
w3lib==1.21.0
wcwidth==0.1.7
Werkzeug==0.15.5
whichcraft==0.6.0
WTForms==2.2.1
xlrd==1.2.0
zope.interface==4.6.0
