{#block标签定义的元素可以在衍生的模板中修改#}
{% extends "bootstrap/base.html" %}
{% block title %}首页{% endblock %}


{#定义收藏夹图标#}
{#调用url_for('static', filename='css/styles.css', _external=True)得到的结果是 http://localhost:5000/static/css/styles.css#}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = '20150806050310138.ico') }}" type="image/x-ico">
<link rel="icon" href="{{ url_for('static', filename = '20150806050310138.ico') }}" type="image/x-ico">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
{#            新增用户资料页面#}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
{#                    下拉菜单按钮#}
{#                    向链接或按钮添加 data-toggle="dropdown" 来切换下拉菜单#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">账户 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
{#Flask 把 get_flashed_ messages() 函数开放给模板，用来获取并渲染消息#}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
    </div>
    {% endfor %}
{#这个模板的 content 块中只有一个 <div> 容器，其中包含了一个名为 page_content 的新的 空块，块中的内容由衍生模板定义。#}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}



{#引入moment.js的库#}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh_CN') }}
{% endblock %}

